<div>

  <div class="izquierda">
    <div>
      <h1>*ngIf</h1>
      <hr>

      <div *ngIf= 'mostrar' class="card">
        <div class="container">
          <h4>
            <b>{{ frase.autor }}</b> <!--Aqui se trae la informacioin del json -->
          </h4>
          <p>{{ frase.mensaje }}</p>
        </div>
      </div>
      
      <div class="btn">
        <button class="boton" type="button" (click)="mostrar = !mostrar" >Mostrar/Ocultar</button> <!--Esto del click hace que sea dinámico y se lo pueda ocultar y mostrar con el boton-->
      </div>
      
    </div>

    <div>
      <h1>*ngSwitch</h1>
      <hr>

      <!--el span es un elemento de linea-->
      <span [ngSwitch]="valorNumerico">
        <span *ngSwitchCase="1" >El valor es 1</span>
        <span *ngSwitchCase="2" >El valor es 2</span>
        <span *ngSwitchCase="3" >El valor es 3</span>
        <span *ngSwitchDefault>Numero fuera de rango</span>
      </span>
    </div>

  </div>

  <div class="derecha">
    <h1>*ngFor</h1>
    <hr>

    <div>
      <ul class="list-group">
        <li *ngFor = 'let persona of personas; let i = index'>{{ i }}{{ persona }}</li>
      </ul>
    </div>
  </div>

</div>