.navbar{
 list-style-type: none;
 margin: 0;
 padding: 0; 
 /*El contenido es recortado y no se muestran barras de posicion*/
 overflow: hidden;
 background-color: #333;
}

.navbar li {
  /*El elemento debe flotar a la izq de su bloque contenedor*/
  float: left;
}

.navbar li a{
  /*se muestra como un tipo bloque*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}